@font-face {
  font-family: "Digital-7";
  src: url("./digital_7/digital-7.ttf");
}
:root {
  --cell-w: 25%;
  --cell-h: 20%;
}
* {
  box-sizing: border-box !important;
  margin: 0 !important;
}

#container {
  width: 40%;
  height: 90%;
  padding: 0.5rem;
  background-color: black;
  border: 1px solid black;
  box-shadow: 2px 2px 5px 0 black;
}
#displayScreen {
  height: 20%;
  background-color: black;
  color: white;
  font-family: "Digital-7";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#formula {
  color: orange;
  font-size: 1.5rem;
  text-align: right;
}
#display {
  font-size: 1.75rem;
  text-align: right;
}
#buttons {
  display: flex;
  font-family: "Share Tech Mono";
  flex-wrap: wrap;
  font-size: 1.5rem;
  align-items: flex-start;
}
.cell {
  width: var(--cell-w);
  color: white;
  height: var(--cell-h);
  border: 1px solid black;
  transition: all 0.1s;
}
.cell:hover {
  border: 1px solid white;
  color: black;
}
.wideCell {
  width: calc(var(--cell-w) * 2);
}
.tallCell {
  height: calc(var(--cell-h) * 2);
}
.translateUp {
  transform: translateY(-100%);
}
#clear {
  background-color: red;
}
#equals {
  background-color: blue;
}
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#zero,
#decimal {
  background-color: darkslategrey;
}
#add,
#subtract,
#divide,
#multiply {
  background-color: rgb(96, 94, 94);
}
@media screen and (max-width: 768px) {
  html {
    font-size: 0.7rem;
  }
}
